<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>WebStudy04_Spring</display-name>
	<welcome-file-list>
		<welcome-file>index.do</welcome-file>
	</welcome-file-list>
	
	<!-- 필터 , 톰캣은 필터를 이 순서대로 엮는다 바인딩.순서가 명확하게 해줘야한다. -->
	<!-- <filter>
		<filter-name>BlindFilter</filter-name>
		<filter-class>kr.or.ddit.filter.BlindFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>BlindFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>DummyFilter</filter-name>
		<filter-class>kr.or.ddit.filter.DummyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>DummyFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping> -->
	
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>GeneratePrincipalFilter</filter-name>
		<filter-class>kr.or.ddit.auth.GeneratePrincipalFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GeneratePrincipalFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>MultipartFilter</filter-name>
		<filter-class>org.springframework.web.multipart.support.MultipartFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MultipartFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
<!-- 	<filter>신원확인을 하는 필터, 인증 -->
<!-- 		<filter-name>AuthenticationFilter</filter-name> -->
<!-- 		<filter-class>kr.or.ddit.auth.AuthenticationFilter</filter-class> -->
<!-- 		<init-param> -->
<!-- 			<param-name>filePath</param-name> -->
<!-- 			<param-value>/kr/or/ddit/SecuredResources.properties</param-value> -->
<!-- 		</init-param> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>AuthenticationFilter</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->
	
<!-- 	<filter> -->
<!-- 		<filter-name>AuthorizationFilter</filter-name> -->
<!-- 		<filter-class>kr.or.ddit.auth.AuthorizationFilter</filter-class> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>AuthorizationFilter</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->
	
	
	<!-- 유일한 프론트인 대문을 등록해준다 -->
	<servlet>
		<servlet-name>frontController</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<!-- 파일업로드에 필요한 multi-part 설정 -->
		<multipart-config><!-- 임시저장소의위치를 결정해줘야하고 그 장소가 location이다 ,역슬래시를 /로 바꾸기-->
			<location>D:/filetemp</location>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>frontController</servlet-name>
		<url-pattern>*.do</url-pattern>
		<url-pattern>/memo/*</url-pattern>
		<url-pattern>/index.do</url-pattern>
	</servlet-mapping>
</web-app>